.footer {
    text-align: center;
    background-color: #f5f5f5; /* Màu nền nhạt */
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer p {
    margin: 0;
    color: #555;
    font-size: 14px;
  }
  