.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Đổi màu nền */
    color: white; /* Đổi màu chữ */
    padding: 10px 0; /* Thêm khoảng cách */
    text-align: center;
}